
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div name="intro"> 
    </div>
    <div name="about">
    </div>
    <div name="projects">
    </div>
    <div name="members">
    </div>
    <div name="footer">
    </div>
</body>
</html>
