
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="~/Content/Stylesheets/intro.css" rel="stylesheet" />
    <link href="~/Content/Stylesheets/about.css" rel="stylesheet" />
    <link href="~/Content/Stylesheets/projects.css" rel="stylesheet" />
    <link href="~/Content/Stylesheets/members.css" rel="stylesheet" />
    <link href="~/Content/Stylesheets/footer.css" rel="stylesheet" />
</head>
<body>
    <div name="intro"> 
    </div>
    <div name="about">
    </div>
    <div name="projects">
    </div>
    <div name="members">
    </div>
    <div name="footer">
    </div>
</body>
</html>
