
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="~/Content/Stylesheets/global.css" rel="stylesheet" />
    <link href="~/Content/Stylesheets/intro.css" rel="stylesheet" />
    <link href="~/Content/Stylesheets/about.css" rel="stylesheet" />
    <link href="~/Content/Stylesheets/projects.css" rel="stylesheet" />
    <link href="~/Content/Stylesheets/members.css" rel="stylesheet" />
    <link href="~/Content/Stylesheets/footer.css" rel="stylesheet" />
</head>
<body>
    <div name="intro">
        <div class="intro-container">
            <img class="intro-background"/>
            <div class="intro-content">
                <div class="intro-header">
                    <h2>washbears</h2>
                    <i>software developers</i>
                </div>
            </div>
        </div>
         
        

    </div>
    <div name="about">
    </div>
    <div name="projects">
    </div>
    <div name="members">
        <div class="members-container">
            <div class="member-content">
                <div class="member-image">
                    <img src="~/Content/Images/lina.JPG" />
                </div>
            </div>
            <div class="member-content">
                <div class="member-image">
                    <img src="~/Content/Images/lina.JPG" />
                </div>
            </div>
            <div class="member-content">
                <div class="member-image">
                    <img src="~/Content/Images/lina.JPG" />
                </div>
            </div>
            <div class="member-content">
                <div class="member-image">
                    <img src="~/Content/Images/lina.JPG" />
                </div>
            </div>
        </div>
    </div>
    <div name="footer">
    </div>
</body>
</html>
